.sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px; 
    height: 100vh;
    background-color: var(--color-card-bg);
    border-right: 1px solid #3A5770;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
}

.sidebar-logo-space {
    padding: 1rem 0;
    margin-bottom: 20px;
}

.sidebar-nav .nav-item {
    width: 100%;
    padding: 15px 0;
    margin: 5px 0;
    color: #A9BECD;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar-nav .nav-item:hover {
    background-color: #3A5770;
    color: var(--color-text-light);
}

.sidebar-nav .nav-item.active {
    color: var(--color-secondary);
    border-left: 4px solid var(--color-secondary);
    background-color: #3A5770;
}

.sidebar-nav .nav-text {
    font-size: 0.7rem;
    font-weight: 600;
    display: block; 
}

.sidebar-nav .nav-icon {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 3px;
}
.sidebar-nav .nav-icon.large {
    font-size: 2.5rem;
    color: var(--color-accent);
}

@media (max-width: 900px) {
    .sidebar-nav {
        display: none;
    }
}


.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-card-bg);
    border-top: 1px solid #3A5770;
    display: none; 
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

@media (max-width: 900px) {
    .bottom-navbar {
        display: flex; 
    }
}

.bottom-navbar .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
    color: #A9BECD;
    cursor: pointer;
    transition: color 0.2s;
    flex: 1;
    height: 100%;
}

.bottom-navbar .nav-item:hover {
    color: var(--color-text-light);
}

.bottom-navbar .nav-item.active {
    color: var(--color-secondary);
}

.bottom-navbar .nav-icon {
    font-size: 1.5rem;
}

.bottom-navbar .nav-text {
    display: none;
}